@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Protest+Riot&display=swap");
:root {
  --color-golden: #dcca87;
  --color-yellow: #ffc244;
  --color-gray: #545454;
  --color-crimson: #f5efdb;
  --color-grey: #aaaaaa;
  --color-green: #4CAF50;
  --color-red: #ea5853;
  --color-black: black;

}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  letter-spacing: 0.11em;
  font-style: normal;
  color: var(--color-black);
  background-color: var(--color-white);
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
